body {
    background-color:rgb(250, 250, 250);
    margin: 0px;
    text-decoration: none;
    height: 1000px;
}
header {
    background-color: rgb(230, 230, 230);
    display:flex;
    flex-flow: row;
    text-align: center;
    height: 10%;
    text-align: justify;
}

main {
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    height: 80%;
    text-align: center;
}
footer {
    display: flex;
    flex-flow: column;
    flex-basis: content;

}
.footer-index {
    background-color:slategrey;
    color: lightgrey;
    text-align: center;
}

a {
    padding: 2px 1px 0;
    text-decoration: none;
    color:black;
}

a:visited {
    color:black;
}
  
a:focus {
    border-bottom: 1px solid;
}
  
a:hover {
    border-bottom: 1px solid;
}
  
a:active {
    color:black;
}
p{
    padding: 2px 1px 0;
}
h1{
    padding: 5px 15px 0;
}
table{
    border-collapse: collapse;
    border: 1px solid grey;
}
